{% extends 'my_app/base.html' %}

{% block body_block %}
<div class="jumbotron" id="jumbo2">
    <div class="container">
        <h2 id="my_header1">Date de contact</h2>
        <p id="my_para1">Aici ne puteti contacta</p>
    </div>
</div>
<div class="container">
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;color: #81cfda;">Programare online</h2>
    <br>
    <form method="POST" action="mailto:dr.dragospetrescu@yahoo.com" enctype="text/plain">
        <div class="form-group">
          <label for="text">Nume:</label>
          <input type="text" class="form-control" placeholder="Nume" id="nume" name="Nume:" required>
        </div>
        <div class="form-group">
          <label for="text">Prenume:</label>
          <input type="text" class="form-control" placeholder="Prenume" id="prenume" name="Prenume:" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Email" id="email" name="Email: " required>
        </div>
        <div class="form-group">
            <label for="phone">Numar de telefon:</label>
            <input type="tel" class="form-control" placeholder="Numar de telefon" id="tel" name="Numar de telefon: " required>
        </div>
        <div class="form-group">
            <label for="data">Data nasterii a pacientului: </label>
            <input type="date" class="form-control" placeholder="Data nasterii" name="Data nasterii: " required>
        </div>
        <div class="form-group">
            <label for="oras">Oras: </label>
            <input type="text" class="form-control" placeholder="Oras" name="Oras: " required>
        </div>
        <div class="form-group">
            <label for="perioada">Perioada dorita: </label>
            <input type="text" class="form-control" placeholder="Perioada dorita" name="Perioada dorita: " required>
        </div>
        <div class="form-group">
            <label for="description">Comentariu:</label>
            <textarea class="form-control" placeholder="Comentariu" name="Comentariu" rows=10 required></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Trimite</button>
      </form>
</div>
<div class="jumbotron" style="margin-top:50px;margin-bottom: 0px;background-color: #a4ebf3;">
    <div class="container">
        <h1 style="font-family:Arial, Helvetica, sans-serif; text-align: center;color: #4eaf6b; padding-bottom: 20px;">Date de contact</h1>
        <br>
        <div class="row">
            <div class="col-md-6" style="font-family:Arial, Helvetica, sans-serif;">
                <p>Adresa: Strada Tabla Buții Numarul 61</p>
                <p>Oras: Drobeta Turnu-Severin</p>
                <p>Email: dr.dragospetrescu@yahoo.com</p>
                <p>Numar de telefon: 0758594788</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" id="my_jumbo">
    <h4 id="header2">Copyright © - Centrul Medical de Diagnostic si Tratament</h4>
</div>
{% endblock %}